/*_files/
/*_cache/
.quarto
/.quarto/
dev/

## TeX
figures/*.aux
figures/*.synctex.gz
figures/*.fls
figures/*.fdb_latexmk
figures/*.log
figures/*.pdf
figures/*.xdv

## Figures
figures/*.ai
figures/*.svg
figures/*.png